head
  title Test
  script(src="/socket.io/socket.io.js")
  script(type="text/javascript").
    var socket = io.connect('http://localhost');
    socket.on('status', function(data) {
          console.log(data['score']);
          console.log(data['time']);
        });
  link(rel='stylesheet', href='/style.css')
